@charset 'UTF-8';

body {
    width: 1152px;
    margin: 0 auto;
}

.footer-container{
    width: 100%;
    background-color: black;
    color: white;
    height: 128px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.footer-main{
    margin: 0 auto;
}

header {
    width: 100%;
}

.main{
    width: 100%;
}

.text {
    font-size: 25px;
    width: 100%;
    text-align: left;
}

.text p {
    margin-bottom: 80px;
}

.sp-br{
    display: none;
}

.title-text{
    text-align: center;
    padding-bottom: 55px;
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-bottom: 50px;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.img-box1 {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.left.u-pc{
    position: absolute;
    left: -50px;
    top: -100px;

}

.right.u-pc{
    
    position: absolute;
    right: 0px;
    bottom: -50px;
   
    
}
.left.u-sp{
    display: none;
}

.back.u-sp{
    display: none;
}
.right.u-sp{
    display: none;

}

.main{
    width: 1125px;
}

.title-text{
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.articles-box {
    background-color: white;
    color:black !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    width: 310px;
    height: 400px;
}

.articles-box:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px 5px  #d3d3d3;
}

.img-box {
    width: 310px;
    height: 400px;
}

.img-box img {
    width: 310px;
    height: 205px;
}

.img-box p {
    margin-top: 15px;
    font-size: 16px;
}

.read-more {
    font-size: 12px;
    color: black ;
    text-decoration: none;

    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 71px;
}


.read-more::after {
    content: "";
    display: block;
    margin: 25px auto 0;
    border-bottom: 1px solid black;
    width: 16px;
    position: absolute;
    margin-top: 15px;
    left: 52px;
}


.read-more:hover::after{
    width: 71px;
    transform: scale(1, 1);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    position: absolute;
    left: 0;
}



@media screen and ( max-width:767px) {
    body{
        max-width: 767px;
    }
    .text p {
        font-size: 32px;
        text-align: center;
        overflow: hidden;
        line-height: 55px;
    }

    .title-text {
        font-size: 60px;
    }


    .sp-br {
        display: block;
    }

    .articles{
        text-align: center;
        width: 70%;
        height: 100%;
    }

    .articles-box{
        width: 100%;
        height: 600px;
    }

    .img-box {
        width: 100%;
        /* height: auto; */
    }

    .img-box img {
        width: 100%;
    }

 

    body{
        margin: 0 auto;
        width: 100%;
    }
    .main{
        width: 100%;
    }
    .img-box1{
        margin-bottom: 50px;
    }
    .left.u-sp{
        display: block;
        margin: 0 auto;
    }
    .left.u-pc{
        display: none;
    }
    .back.u-sp{
        z-index: 1;
        display: block;
        width: 100%;
        height: auto;
    }
    .back.u-pc{
        display: none;
    }
    .right.u-sp{
        display: block;
        position: absolute;
        top: 300px;
        z-index: 2;
    }
    .right.u-pc{
        display: none;
    }
    .menu{
        display: none;
    }


    .articles{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-main{
        width: 100%;
        display: flex;
    }

}

